// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-grid-classes:                         true !default;


// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 767px,
  sm: 1023px,
  md: 1200px
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns for respective breakpoints.

$grid-columns: (
  xs: 4,
  sm: 8,
  md: 12
) !default;

@include _assert-mapping($grid-columns, "$grid-columns");


// Gutter Width
//
// Set the width of the gutters for respective breakpoints.
$grid-gutter-width: (
  xs: 10px,
  sm: 20px,
  md: 30px
) !default;

@include _assert-mapping($grid-gutter-width, "$grid-gutter-width");


// Gutter Width
//
// Set the outer width of the gutters for respective breakpoints.
$grid-outer-width: (
  xs: 10px,
  sm: 20px,
  md: 30px
) !default;

@include _assert-mapping($grid-outer-width, "$grid-outer-width");